@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,700&display=swap');


:root {
    --dark-color: #121212;
    --white-color: #fff;
    --neonpink-color: #FF10F0;
    --neonyellow-color: #FFFF33;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    outline: none;
}


header {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    mix-blend-mode: difference;
}

header p {
    font-size: 46px;
    color: var(--white-color);
    mix-blend-mode: difference;
    font-weight: bold;
}

.score_section {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    mix-blend-mode: difference;
}

.score_section .table {
    display: flex;
    justify-content: center;
    align-items: center;
    mix-blend-mode: difference;
    gap: 600px;
}

.score_section .table p {
    font-size: 164px;
    color: var(--white-color);
    mix-blend-mode: difference;
    filter: brightness(90%);
}


.avatars_box {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    mix-blend-mode: difference;
}

.avatar {
    width: 120px;
    height: 120px;
    background-color: white;
}


.player_instruction_box {
    position: fixed;
    bottom: 112px;
    width: 50%;
    text-align: center;
}

.player_instruction_box p {
    font-size: 36px;
    font-weight: 500;
}

.enemy_message_box {
    position: fixed;
    top: 34%;
    left: 62%;
    width: 50%;
    text-align: center;
}

.enemy_message_box p {
    color: var(--white-color);
    font-size: 36px;
    font-weight: 500;
}

.buttons_box {
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 50%;
}

.buttons_group {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    margin: 32px 24px;
}

.buttons_group button {
    background-color: transparent;
    border: solid 4px;
    border-color: black;
    flex: 1;
    height: 56px;
    font-size: 28px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.1s ease-in;
}

.buttons_group button:hover {
    border-color: var(--neonpink-color);
    color: var(--neonpink-color);
}


@media screen and (max-width: 600px) {
    
    header{
        display: none;
    }

    .avatars_box {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    
    .avatar {
        width: 82px;
        height: 82px;
    }

    .player_instruction_box, .enemy_message_box {
        display: none;
    }

    .buttons_box {
        width: 100%;
        display: flex;
        justify-content: end;
    }
    
    .buttons_group {
        flex-direction: column;
        justify-content: end;
        align-items: end;
        gap: 6px;
        margin: 10px 10px;
        text-align: right;
        width: fit-content;
    }
    
    .buttons_group button {
        background-color: transparent;
        border: solid 3px;
        border-color: white;
        width: 100%;
        color: #fff;
        padding: 6px 20px;
    }
    
    .score_section .table {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .score_section .table p {
        font-size: 48px;
    }
  }