@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,700&display=swap');


:root {
    --dark-color: #121212;
    --white-color: #fff;
    --neonpink-color: #FF10F0;
    --neonyellow-color: #FFFF33;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    outline: none;
}

body {
    background-image: url("/img/battle_field.png");
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

header p {
    font-size: 50px;
    color: var(--neonpink-color);
}


.buttons_box {
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 50%;
}

.buttons_group {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    margin: 32px 24px;
}

.buttons_group button {
    background-color: transparent;
    border: solid 3px;
    border-color: black;
    flex: 1;
    height: 44px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.1s ease-in;
}

.buttons_group button:hover {
    border-color: var(--neonpink-color);
    color: var(--neonpink-color);
}


@media screen and (max-width: 600px) {
    body {
        background-size: contain;
        background-position: center;
    }
}   