@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,700&display=swap');


:root {
    --dark-color: #121212;
    --white-color: #fff;
}

* {
    font-family: 'Poppins', sans-serif;
    background-color: var(--dark-color);
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    outline: none;
}

.container {
    margin: 46px 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

header p {
    font-size: 34px;
}

.buttons_box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.start_section button {
    width: 100px;
    height: 44px;
    color: var(--white-color);
    border: solid 2px var(--white-color);
}

.score_table {
    display: flex;
    gap: 64px;
}

.buttons_box {
    margin-top: 164px;
}

.buttons_box .buttons_group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.player-action-btn {
    border: solid 2px var(--white-color);
    color: var(--white-color);
    width: 164px;
    height: 52px;
    border-radius: 4px;
    cursor: pointer;
}